.footer
  %p.center-text.half-bottom
    Copyright 2015. All rights reserved. 品質管理處 - 設計驗證部 開發製作
  .footer-icons
    %a.facebook-color.facebook-social{:href => "https://www.facebook.com/VIVOTEK"}
      %i.fa.fa-facebook
    %a.google-color.google-social{:href => "https://play.google.com/store/apps/details?id=com.vivotek.viewer&hl=zh_TW"}
      %i.fa.fa-google-plus
    %a.twitter-color.twitter-social{:href => "https://twitter.com/vivotek"}
      %i.fa.fa-twitter
    %a.footer-up{:href => "#"}
      %i.fa.fa-angle-up
  .clear